/* resume.module.scss */

:global {
    @media print {
        body * {
            visibility: hidden !important;
        }

        /* Loại bỏ bóng đổ khi in */
        * {
            box-shadow: none !important;
            text-shadow: none !important;
            filter: none !important;
        }

        .print-area,
        .print-area * {
            visibility: visible !important;
        }

        .print-area {
            position: absolute !important;
            left: 0;
            top: 0;
            width: 210mm !important;
            min-height: 297mm !important;
            margin: 0 !important;
            padding: 20mm !important;
            display: block !important;
            background: white !important;
        }

        .no-print {
            display: none !important;
        }

        @page {
            size: A4;
            margin: 0;
        }

        textarea,
        input {
            overflow: hidden !important;
            border: none !important;
            outline: none !important;
            resize: none !important;
        }
    }
}
